Repository JiyuShao/taro-dynamic-import-weapp: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

feat: 🎸 add dynamic-import code support
  package.json
  packages/demo/config/index.js
  packages/demo/src/app.tsx
  packages/demo/src/dynamic-import/dynamic-component/dynamic-component.tsx
  packages/demo/src/pages/index/index.tsx
  packages/demo/src/utils/init-components.tsx
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
Due: eslint --fix, prettier --write

docs: ✏️ add README.md
  README.md
  assets/demo.jpg
  packages/demo/config/index.js
  packages/demo/src/dynamic-import/button/button.tsx
  packages/demo/src/pages/index/index.tsx
  packages/demo/src/utils/config.ts
Due: eslint --fix, prettier --write

feat: 🎸 添加 taro-plugin-dynamic-import-weapp 插件
  .npmrc
  .prettierignore
  package.json
  packages/demo/config/index.js
  packages/demo/package.json
  packages/demo/src/dynamic-import/button/button.tsx
  packages/demo/src/pages/index/index.tsx
  packages/demo/src/utils/config.ts
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
  packages/taro-plugin-dynamic-import-weapp/src/server.ts
  packages/taro-plugin-dynamic-import-weapp/tsconfig.json
  packages/webpack-dynamic-import-weapp-plugin/package.json
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: 🎸 add entry-loader to inject eval5/taro components
  .eslintrc
  package.json
  packages/babel-preset-taro-dynamic-import-weapp/README.md
  packages/babel-preset-taro-dynamic-import-weapp/index.js
  packages/babel-preset-taro-dynamic-import-weapp/package.json
  packages/demo/babel.config.js
  packages/demo/src/app.tsx
  packages/demo/src/utils/init-components.tsx
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
  packages/taro-plugin-dynamic-import-weapp/src/server.ts
  packages/webpack-dynamic-import-weapp-plugin/package.json
  packages/webpack-dynamic-import-weapp-plugin/src/entry-loader.ts
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: ✏️ add README.md
  LICENSE
  README.md
  lerna.json
  package.json
  packages/babel-preset-taro-dynamic-import-weapp/README.md
  packages/babel-preset-taro-dynamic-import-weapp/package.json
  packages/demo/README.md
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/README.md
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/webpack-dynamic-import-weapp-plugin/README.md
  packages/webpack-dynamic-import-weapp-plugin/package.json
Due: prettier --write

ci: 🎡 add lerna version/publish script
  package.json
Due: prettier --write

chore(release): publish to registry
  packages/babel-preset-taro-dynamic-import-weapp/package.json
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/webpack-dynamic-import-weapp-plugin/package.json
Due: prettier --write

feat: 🎸 添加自动生成 packOptions.ignore 配置功能, 自动分配 server 端口功能
  packages/demo/project.config.json
  packages/taro-plugin-dynamic-import-weapp/README.md
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
  packages/taro-plugin-dynamic-import-weapp/src/server.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: 💍 add test for webpack-dynamic-import-weapp-plugin
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .stylelintignore
  babel.config.js
  jest.config.js
  package.json
  packages/demo/src/app.less
  packages/demo/src/app.tsx
  packages/webpack-dynamic-import-weapp-plugin/README.md
  packages/webpack-dynamic-import-weapp-plugin/__tests__/__snapshots__/options.test.ts.snap
  packages/webpack-dynamic-import-weapp-plugin/__tests__/fixtures/dynamic-import/async-add.js
  packages/webpack-dynamic-import-weapp-plugin/__tests__/fixtures/index.js
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/compile.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/getCompiler.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/getModuleSource.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/getPlugins.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/readAsset.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/helpers/readAssets.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/module.test.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/options.test.ts
  packages/webpack-dynamic-import-weapp-plugin/jest.config.js
  packages/webpack-dynamic-import-weapp-plugin/package.json
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

test: 💍 add entry-loader test case
  .eslintrc
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/__snapshots__/entry-loader.test.ts.snap
  packages/webpack-dynamic-import-weapp-plugin/__tests__/__snapshots__/options.test.ts.snap
  packages/webpack-dynamic-import-weapp-plugin/__tests__/entry-loader.test.ts
  packages/webpack-dynamic-import-weapp-plugin/__tests__/options.test.ts
  packages/webpack-dynamic-import-weapp-plugin/package.json
  packages/webpack-dynamic-import-weapp-plugin/src/entry-loader.ts
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
  packages/webpack-dynamic-import-weapp-plugin/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: 🎸 为 demo 项目添加 tailwindcss, 并优化 UI
  README.md
  assets/demo-dynamic.jpg
  assets/demo-static.jpg
  assets/demo.jpg
  packages/demo/package.json
  packages/demo/src/app.config.ts
  packages/demo/src/app.less
  packages/demo/src/app.tsx
  packages/demo/src/dynamic-import/button/button.tsx
  packages/demo/src/dynamic-import/dynamic-component/dynamic-component.tsx
  packages/demo/src/dynamic-import/movable-area/movable-area.tsx
  packages/demo/src/dynamic-import/swiper/swiper.tsx
  packages/demo/src/pages/dynamic/index.config.ts
  packages/demo/src/pages/dynamic/index.tsx
  packages/demo/src/pages/index/index.config.ts
  packages/demo/src/pages/static/index.config.ts
  packages/demo/src/pages/static/index.tsx
  packages/demo/src/tailwind.css
  packages/demo/tailwind.config.js
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

docs: ✏️ change README.md
  README.md
  packages/demo/config/index.js
  packages/demo/src/dynamic-import/movable-area/movable-area.tsx
Due: eslint --fix, prettier --write

chore(release): publish to registry
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/package.json
  packages/webpack-dynamic-import-weapp-plugin/package.json
Due: prettier --write

fix: 🐛 move "get-port" to dependencies
  packages/taro-plugin-dynamic-import-weapp/package.json
  yarn.lock
Due: prettier --write

chore(release): publish to registry
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/package.json
Due: prettier --write

docs: ✏️ 完善 README.md, 优化输出
  README.md
  packages/taro-plugin-dynamic-import-weapp/README.md
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
Due: eslint --fix, prettier --write

Update README.md
  packages/taro-plugin-dynamic-import-weapp/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: 适配Taro 3.2
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
Due: eslint --fix, prettier --write

feat: 🎸 升级 Demo 的 Taro 为 v3.2.13
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: 🐛 修复 taro-plugin-dynamic-import-weapp 依赖问题
  README.md
  package.json
  packages/demo/package.json
  packages/taro-plugin-dynamic-import-weapp/package.json
Due: prettier --write

fix: 🐛 在使用 taro-plugin-dynamic-import-weapp 时需要平行安装 acorn-walk
  packages/taro-plugin-dynamic-import-weapp/package.json
Due: prettier --write

fix: 🐛 锁定 acorn-walk 版本
  packages/taro-plugin-dynamic-import-weapp/package.json
Due: prettier --write

fix: 🐛 添加 peerDependency acorn-walk
  packages/taro-plugin-dynamic-import-weapp/package.json
Due: prettier --write

fix: 🐛 修复 acron-walk 版本问题
  packages/demo/package.json
  yarn.lock
Due: prettier --write

docs: ✏️ change README.md
  packages/taro-plugin-dynamic-import-weapp/README.md
Due: prettier --write

fix: :bug: currentResource 可能为 undefined
  package.json
  packages/demo3.3.14/babel.config.js
  packages/demo3.3.14/package.json
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: :bug: resource 有时候在rootModule里
  packages/webpack-dynamic-import-weapp-plugin/src/index.ts
Due: eslint --fix, prettier --write

docs: change readme
  README.md
  assets/taro-official-dynamic-import.png
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,less}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,less,js,jsx,ts,tsx,json,yml,yaml,md}
